<h1 class="display-4">Student Register</h1>
<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
    <div class="form-group">
        <input name="fullName" #fullName="ngModel" [(ngModel)]="service.formData.fullName" class="form-control" placeholder="Full name" required>
        <div *ngIf="fullName.invalid && fullName.touched" class="validation-error">
            This field is required
        </div>
    </div>
    <div class="form-group">
        <input name="enrollmentNumber" #enrollmentNumber="ngModel" [(ngModel)]="service.formData.enrollmentNumber" class="form-control" placeholder="Enrollment Number">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <input name="batch" #batch="ngModel" [(ngModel)]="service.formData.batch" class="form-control" placeholder="Batch">
        </div>
        <div class="form-group col-md-6">
            <input name="mobile" #mobile="ngModel" [(ngModel)]="service.formData.mobile" class="form-control" placeholder="Mobile">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block btn-info">SUBMIT</button>
    </div>
</form>